<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>com.matsuokengo.Cutling.sync</string>
		<string>com.matsuokengo.Cutling.sync.processing</string>
	</array>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.matsuokengo.Cutling</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>cutling</string>
			</array>
		</dict>
	</array>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>UIApplicationShortcutItems</key>
	<array>
		<dict>
			<key>UIApplicationShortcutItemType</key>
			<string>com.matsuokengo.Cutling.addText</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>New Text Cutling</string>
			<key>UIApplicationShortcutItemIconSymbolName</key>
			<string>doc.text</string>
		</dict>
		<dict>
			<key>UIApplicationShortcutItemType</key>
			<string>com.matsuokengo.Cutling.addImage</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>New Image Cutling</string>
			<key>UIApplicationShortcutItemIconSymbolName</key>
			<string>photo</string>
		</dict>
	</array>
	<key>UILaunchScreen</key>
	<dict>
		<key>UIColorName</key>
		<string>LaunchBackground</string>
	</dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>processing</string>
		<string>remote-notification</string>
	</array>
</dict>
</plist>
